.comment {
	display: flex;
	position: relative;
	margin: 30px 15px;
	padding-right: 100px;
	& > img {
		width: 50px;
		height: 50px;
		margin-right: 20px;
	}
	&__top {
		display: flex;
		align-items: flex-start;
	}
	&__name {
		margin: 0px 15px 0px 0px;
	}
	&__date {
		font-size: 14px;
	}
	&__text {
		margin: 7px 0px;
	}
	&__icons {
		position: absolute;
		top: 0;
		right: 0;
	}
	&__detele-icon {
	}
	&__edit-icon {
		img {
			width: 25px;
			height: 25px;
		}
	}
	&__settings-icon {
		width: 30px;
		height: 30px;
	}
	&__edit-buttons {
		position: absolute;
		bottom: 0;
		right: 0;

		display: flex;
	}
	&__options-icon {
		position: relative;
		height: 20px;
		padding-top: 10px;
		display: block;
		text-align: center;
		background-color: #fff;
		width: 20px;
		& span,
		&::after,
		&::before {
			position: absolute;
			display: block;
			height: 4px;
			background-color: rgb(75, 74, 74);
			border-radius: 50%;
			width: 4px;
			left: 50%;
		}
		&::after,
		&::before{
			content: "";
			transform: translateX(-50%);
		}
		&::after{
			top: 0;
		}
		&::before{
			bottom: 0px;
		}
		& span{
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}

}
