.user-box {
	position: relative;
	& + label {
		color: red;
		margin-bottom: 20px;
	}
}
$text: black;
$text-active: #03e9f4;

.user-box input {
	width: 100%;
	padding: 10px 0 10px 0px;
	font-size: 20px;
	color: $text;
	margin-bottom: 5px;
	border: none;
	border-bottom: 1px solid $text;
	outline: none;
	background: transparent;
}
.user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 20px;
	color: $text;
	pointer-events: none;
	transition: 0.5s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
	top: -20px;
	left: 0;
	color: $text-active;
	font-size: 14px;
}
.input__default {
	border-radius: 4px;
	padding: 10px;
	transition: all ease .3s;
	background-color: rgb(241, 241, 241);
	border: gray solid 1px;
	font-size: 16px;

	outline: 0px;
	&:focus{
		background-color: #fff;
	}
}
