.post {
	color: rgb(52, 46, 46);
	background-color: #fff;
	padding: 50px 60px;
	& > img {
		width: 700px;
		height: 400px;
	}
	& > h2 {
		font-size: 26px;
		font-weight: 700;
		text-align: center;
		margin: 0px 0px 0px 0px;
	}
	& > h3 {
		font-weight: 400;
	}
	&__info{
		text-align: center;
		margin: 0 auto;
		justify-content: center;
		margin-top: 10px;
		display: flex;
		align-items: center;
		&>li{
			margin-right: 20px;
		}
	}
	&__icon {
		width: 17px;
		height: 17px;
		margin-right: 6px;
	}
	&__bottom{
		display: flex;
		justify-content: space-between;

	}
	&__author{
		img{
			width: 35px;
			height: 35px;
			margin-right: 7px;
		}
		display: flex;
		align-items: center;
	}
}
