.side-bar {
	grid-area: side;
	font-size: 30px;
	& > ul > li {
		margin-bottom: 30px;
	}
	&__recent-post {
		ul {
			li {
				margin-top: 24px;
			}
		}
	}
	&__social{
		img{
			width: 40px;
			height: 40px;
			border-radius: 50%;

		}
	}
}
