.full-post {
	position: relative;
	& h2{
		display: block;
	}
	& > div > li {
		margin-bottom: 40px;
		&:last-of-type {
			margin: 0px 0px 0px 0px;
		}
	}
}
.post{
	&__options{
		position: absolute;
		top: 20px;
		right: 20px;
	}
	&__options-icon{
		position: relative;
		height: 20px;
		padding-top: 10px;
		display: block;
		text-align: center;
		background-color: #fff;
		width: 20px;
		& span,
		&::after,
		&::before {
			position: absolute;
			display: block;
			height: 4px;
			background-color: rgb(75, 74, 74);
			border-radius: 50%;
			width: 4px;
			left: 50%;
		}
		&::after,
		&::before{
			content: "";
			transform: translateX(-50%);
		}
		&::after{
			top: 0;
		}
		&::before{
			bottom: 0px;
		}
		& span{
			top: 50%;
			transform: translate(-50%,-50%);
		}
	}
}
.comments {
	padding: 50px 60px;
	background-color: #fff;
	& textarea {
		width: 100%;
	}
	& ul>li{
		margin-bottom:20px;
	}
}
